<mat-sidenav-container>
    <mat-sidenav opened mode="side" fixedInViewport>
        <ul>
            <mat-nav-list>
                <a mat-list-item routerLink="">
                    <span>Home</span>
                    <mat-icon matListIcon>home</mat-icon>
                </a>

                <a mat-list-item routerLink="pessoa/listar">
                    <span>Listar</span>
                    <mat-icon matListIcon>list_alt</mat-icon>
                </a>
                <a mat-list-item routerLink="pessoa/cadastrar">
                    <mat-icon matListIcon>person_add</mat-icon>
                    <span>Cadastrar</span>
                </a>
            </mat-nav-list>
        </ul>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>


